spring:
    profiles: 
        active:
        - dev
        
---
server:
  port: 9527
  
spring:
    profiles: dev
    application:
        name: microservice-zuul-config        

eureka:
  client:
    register-with-eureka: false
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/
    instance:
      prefer-ip-address: true
      instance-id: zuul-9527.com

zuul:
  routes:
    mydept.serviceId: microservice-dept-consumer
    mydept.path: /mydept/**
  ignored-services: microservice-dept-consumer
  prefix: /hgits

#开启断路器
feign:
  hystrix:
    enabled: true

info:
  app.name: atguigu-microsevicecloud
  comany.name: www.it.hgits.com  
  
  
---

server:
  port: 9527
  
spring:
    profiles: test
    application:
        name: microservice-zuul-config        

eureka:
  client:
    register-with-eureka: false
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/
    instance:
      prefer-ip-address: true
      instance-id: zuul-9527.com

zuul:
  routes:
    mydept.serviceId: microservice-dept-consumer
    mydept.path: /mydept/**
  ignored-services: microservice-dept-consumer
  prefix: /hgits

#开启断路器
feign:
  hystrix:
    enabled: true

info:
  app.name: atguigu-microsevicecloud
  comany.name: www.it.hgits.com  
  